<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo"></div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu_icon" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu" [class.menuClass] ="menuVariable">
          <ul>
            <li>About Us</li>
            <li>Microdosis</li>
            <li>Tratamiento</li>
            <li>Blog</li>
            <li>Mi Perfil</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="firstPlane">
    <div>
      <h1>Una revolución de la salud.</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, temporibus consequuntur? Doloremque dicta minus ipsum, vero harum ex adipisci hic totam nemo laboriosam quod mollitia non, modi veritatis. Aut, pariatur.</p>
      <button>Inicia tu protocolo</button>
    </div>
  </div>
  <div class="secondPlane">
    <img src="https://imgur.com/VuuGO7F.png" alt="">
    <h1>¿PARA QUIÉN ES EL TRATAMIENTO <br> DE MICRODOSIS DE HONGOS?</h1>
    <h2>LA MICRODOSIS ES PARA TODOS!</h2>
    <p>Al ser una regeneracion neuronal y regulación de neurotransmisores, beneficia a cualquier persona pues optimiza el funcionamiento de nuestro cerebro y de nuestra percepción.</p>
  </div>

  <div class="thirdPlane">
    <div class="top">
      <h1>¿cualés son los beneficios?</h1>
      <p>Todos nuestros tratamientos son <br>
        especialmente seleccionados para tratar <br>
        diferentes áreas problema <br> <br>
        Estas son alginas de las áreas que se <br>
        pueden tratar:
      </p>
    </div>
    <div class="slider">
      <swiper
        [slidesPerView]="'auto'"
        [spaceBetween]= 0
        [slidesOffsetBefore]="45"
        [slidesOffsetAfter]="30"

        >
        <ng-template swiperSlide>
          <div>
            <img src="https://imgur.com/ImWawqd.png" alt="">
            <p>Manejo del <br> estrés</p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div>
            <img src="https://imgur.com/jYpH73F.png" alt="">
           <p>Antidepresvio y <br> ansiolítico</p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div>
            <img src="https://imgur.com/5prtLLX.png" alt="">
            <p>Aumenta la <br> creatividad</p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div>
            <img src="https://imgur.com/albn7mG.png" alt="">
           <p>Desolidifica <br> el ego</p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div>
            <img src="https://imgur.com/Np5TvqT.png" alt="">
            <p>Desarrolla la <br> empatía</p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div>
            <img src="https://imgur.com/4H67Wfq.png" alt="">
            <p>Aumenta la <br>plasticidad <br> cerebral</p>
          </div>
        </ng-template>
     </swiper>
    </div>
    <button>Quiero saber más</button>
  </div>
</main>
